<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-17</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
      src="D:\Office\flask0\static\assets\logo.PNG"
      alt="first-image"
      class="iom9"
    />

    <div class="container9">
      <img
        src="D:\Office\flask0\static\assets\logo9.png"
        alt="first-image"
        class="logo9"
      />
      <h1>Respiratory Indicators//Bacterial Signals</h1>
      <hr />
      <p>Which bacteria are impacting your respiration</p>
    </div>
    <div class="paragraph9">
      <p>
        The gut and the lung are anatomically distinct. Yet emerging research
        highlights the impact of the complicated pathways and communications
        between these organs. The gut-lung axis can not just influence each
        other but directly impact the course of disease as well as treatment.
        Changes in the microbiome due to diet, illness or medical intervention
        are linked with alterations in immune response and balance in the
        airways. Management strategies for repeated or chronic respiratory
        challenges thus need to be multidisciplinary to effectively manage
        symptoms and progression.
      </p>
    </div>
    <div class="footer17">
      <p>Here are the bacteria impacting your respiratory well-being:</p>
      <img
        src="D:\Office\flask0\static\assets\graph17.png"
        alt="first-image"
        class="graph9"
      />
      <h1>17</h1>
    </div>
  </body>
</html>
