<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-10</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container10">
      <img
        src="D:\Office\flask0\static\assets\logo-7.png"
        alt="first-image"
        class="cont-top-right"
      />
      <img
        src="D:\Office\flask0\static\assets\logo.PNG"
        alt="first-image"
        class="cont-top-left"
      />
      <h1>Metabolic Indicators</h1>
      <p>BACTERIA PLAY A VITAL ROLE IN YOUR MANAGEMENT</p>
    </div>
    <hr />
    <div class="middleimg">
      <div class="middleimg10">
        <img
          src="D:\Office\flask0\static\assets\middlelogo10.png"
          alt="first-image"
          class=""
        />
      </div>
      <div class="middle10">
        <div class="mid1">
          <h1>BMI</h1>
          <p>
            BACTERIA CONTRIBUTING TO INCREASE OR INCREASE OR DECREASE IN BMI
          </p>
        </div>

        <div class="mid2">
          <h1>ADIPOSITY</h1>
          <p>BACTERIAL PROTECTION FROM FAT STORAGE/BUILD-UP</p>
        </div>

        <div class="mid3">
          <h1>APPETITE</h1>
          <p>BACTERIA CONTRIBUTING TO HUNGER & SATIETY SIGNALS</p>
        </div>
      </div>
      <div class="info-container10">
        <div class="p1">
          <p>
            The gut and its inhabitants gut play a crucial role in cholesterol
            balance and absorption. The bacteria have the capability to impact
            blood lipid composition through the production of bile acids,
            coprostanol, SCFAs and TMAO thus influencing heart condition.
          </p>
        </div>
        <div class="p2">
          <p>
            HDL or good cholesterol absorbs cholesterol in the blood and carries
            it back to the liver to flush out. Signalling molecules produced by
            the bacteria impact this reverse cholesterol transport, a vital
            protective function.
          </p>
        </div>
        <div class="p3">
          <p>
            Microbiota-derived metabolites are either beneficial like SCFA or
            detrimental like TMAO and can activate several downstream signalling
            pathways. The dysbiosis-associated breakdown of the gut barrier can
            trigger elevated blood pressure mechanisms.
          </p>
        </div>
      </div>
      <div class="footer-container10">
        <div class="footer10"><p>High Abundance Negative Impact</p></div>

        <div class="footer10"><p>Average Abundance Negative Impact</p></div>

        <div class="footer10"><p>Low Abundance Negative Impact</p></div>

        <div class="footer10"><p>Low Abundance Positive Impact</p></div>

        <div class="footer10"><p>Average Abundance Positive Impact</p></div>

        <div class="footer10"><p>High Abundance Positive Impact</p></div>
      </div>
      <div class="footer-img10">
        <img
          src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
          alt="first-image"
          class="img10"
        />
        <h1>9</h1>
      </div>
    </div>
  </body>
</html>
