<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-25</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
      src="D:\Office\flask0\static\assets\logo.PNG"
      alt="first-image"
      class="left-logo25"
    />
    <img
      src="D:\Office\flask0\static\assets\logo-7.png"
      alt="first-image"
      class="right-logo25"
    />
    <div class="container25">
      <h1>Healthy Aging</h1>
      <p>AT A CELLULAR LEVEL</p>
      <hr />
    </div>
    <div class="middle25">
      <div class="mid1">
        <h1>DNA DAMAGE</h1>
        <p>BACTERIA THAT REGULATE DNA DAMAGE</p>
      </div>

      <div class="mid2">
        <h1>METABOLITE SENSING</h1>
        <p>BACTERIA THAT HELP US SENSE METABOLITES FOR ABSORPTION</p>
      </div>

      <div class="mid3">
        <h1>INFLAMMATION</h1>
        <p>BACTERIA REGULATING INFLAMMATORY MOLECULES</p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\middlelogo25.png"
      alt="first-image"
      class="middlegraph25"
    />

    <div class="footer-paragraph-25">
      <div class="footpara25-1">
        <p>
          Bacteria influence immune response which in turn are involved in DNA
          damage and repair pathways. Furthermore, microbes also produce and
          consume DNA-damaging metabolites. The accumulation of DNA damage is
          the primary cause of cancer.
        </p>
      </div>
      <div class="footpara25-2">
        <p>
          The microbiome influences nutrient sensing through metabolite
          production and modulation of gut hormones, impacting metabolism,
          appetite, and energy balance. The loss of the ability to sense
          nutrients with age leads to many complications.
        </p>
      </div>
      <div class="footpara25-3">
        <p>
          Bacteria modulate inflammation through immune responses, producing or
          suppressing inflammatory molecules, impacting overall health and
          disease susceptibility. The accumulation of inflammation over time
          with age in turn causes other damage at a cellular level.
        </p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
      alt="first-image"
      class="footerlogo25"
    />
    <div class="footer-container25">
      <div class="foot25"><p>High Abundance Negative Impact</p></div>

      <div class="foot25"><p>Average Abundance Negative Impact</p></div>

      <div class="foot25"><p>Low Abundance Negative Impact</p></div>

      <div class="foot25"><p>Low Abundance Positive Impact</p></div>

      <div class="foot25"><p>Average Abundance Positive Impact</p></div>

      <div class="foot25"><p>High Abundance Positive Impact</p></div>
    </div>
    <div class="foot-num25"><h1>25</h1></div>
  </body>
</html>
