<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-20</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
      src="D:\Office\flask0\static\assets\logo.PNG"
      alt="first-image"
      class="left-logo20"
    />
    <img
      src="D:\Office\flask0\static\assets\logo-7.png"
      alt="first-image"
      class="right-logo20"
    />
    <div class="container20">
      <h1>Nutrient Synthesis</h1>
      <p>VITAMINS AND PROTEINS BEING IMPACTED BY YOUR BACTERIA</p>
      <hr />
    </div>
    <div class="middle20">
      <div class="mid1">
        <h1>VITAMIN B (THIAMINE)</h1>
        <p>
          BACTERIAL THAT PRODUCT & SYNTHESISE MULTIPLE VARIETIES OF VITAMINS
        </p>
      </div>

      <div class="mid2">
        <h1>VITAMIN B9(FOLATE)</h1>
        <p>BACTERIA SYNTHESISING FREE FOLATE</p>
      </div>

      <div class="mid3">
        <h1>VITAMINE B12 (COBALAMINE)</h1>
        <p>BACTERIA PLAY IN PRODUCING & PROCESSING B12</p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\middlelogo20.png"
      alt="first-image"
      class="middlegraph20"
    />

    <div class="footer-paragraph-20">
      <div class="footpara20-1">
        <p>
          Our gut also harbours bacteria that produce B vitamins, including
          biotin, cobalamin, folate, et al, in limited amounts. Several gut
          bacteria also require vitamins to perform their own functions.
          Deficiencies of vitamins thus can instigate multiple seemingly
          unrelated diseases.
        </p>
      </div>
      <div class="footpara20-2">
        <p>
          This vitamin is vital for cell survival and growth, regulating gene
          activity, and brain function, among other life functions. There are
          several bacteria that can produce folate in the gut while others help
          synthesis.
        </p>
      </div>
      <div class="footpara20-3">
        <p>
          There are few bacteria that can synthesise Vitamin B12 in your gut.
          About 20% of gut bacteria can produce Vit B12 and 80% need it for
          their metabolic reactions.
        </p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
      alt="first-image"
      class="footerlogo20"
    />
    <div class="footer-container20">
      <div class="foot20"><p>High Abundance Negative Impact</p></div>

      <div class="foot20"><p>Average Abundance Negative Impact</p></div>

      <div class="foot20"><p>Low Abundance Negative Impact</p></div>

      <div class="foot20"><p>Low Abundance Positive Impact</p></div>

      <div class="foot20"><p>Average Abundance Positive Impact</p></div>

      <div class="foot20"><p>High Abundance Positive Impact</p></div>
    </div>
    <div class="foot-num20"><h1>20</h1></div>
  </body>
</html>
