<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>

    <title>PDF Generation</title>
  </head>
  <body>
    <header>
      <img
        src="D:\Office\flask0\static\assets\logo-left-half.png"
        alt="first-image"
        class="first-image0"
      />
      <img
        src="D:\Office\flask0\static\assets\logo.PNG"
        alt="second-image"
        class="second-image0"
      />
    </header>

    <div class="main-content">
      <h1>Gut360</h1>
      <h2>Report</h2>
      <p>Get Wise, Gut Wise</p>
    </div>

    <div class="table">
      <table>
        <tr>
          <td class="label">Name</td>
          <td class="value">XXX</td>
        </tr>
        <tr>
          <td class="label">Iom Id</td>
          <td class="value">YYY</td>
        </tr>
        <tr>
          <td class="label">Report Date</td>
          <td class="value">DD/MM/YYYY</td>
        </tr>
      </table>
    </div>
  </body>
</html>
