<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-15</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
      src="D:\Office\flask0\static\assets\logo.PNG"
      alt="first-image"
      class="left-logo15"
    />
    <img
      src="D:\Office\flask0\static\assets\logo-7.png"
      alt="first-image"
      class="right-logo15"
    />
    <div class="container15">
      <h1>Respiratory Indicators</h1>
      <p>IMPROTANT LUNG CONDITIONS THAT YOUR BACTERIA IMPACT</p>
      <hr />
    </div>
    <div class="middle15">
      <div class="mid1">
        <h1>CHRONIC OBSTRUCTIVE PULMONARY DISEASE</h1>
        <p>BACTERIA THAT POSITIVELY AND NEGATIVELY IMPACT COPD</p>
      </div>

      <div class="mid2">
        <h1>RESPIRATORY TRACT INFECTIONS</h1>
        <p>BACTERIA THAT PLAY A ROLE IN AIRWAY INFLAMMATION</p>
      </div>

      <div class="mid3">
        <h1>UPPER RESPIRATORY INFECTIONS-ALLERGIES</h1>
        <p>BACTERIA THAT PLAY A ROLE IN REPEATED INFLAMMATION</p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\middlelogo15.png"
      alt="first-image"
      class="middlegraph15"
    />

    <div class="footer-paragraph-15">
      <div class="footpara15-1">
        <p>
          A disturbed gut-lung connection not just reduces microbial diversity,
          but also increases the production of pro-inflammatory cytokines(immune
          metabolites), resulting in poor clearance of infection in the lungs
          and or gastrointestinal symptoms.
        </p>
      </div>
      <div class="footpara15-2">
        <p>
          RTIs can be caused by bacterial, viral or fungal pathogens. And these
          are not limited to the respiratory tract-they can result in
          gastrointestinal symptoms like diarrhoea or cramps. Studies show the
          depletion of several bacteria in those with recurrent RTI.
        </p>
      </div>
      <div class="footpara15-3">
        <p>
          A healthy lung and gut microbial composition is characterised by an
          abundance of certain bacterial phyla. An imbalance supports the
          activation of inflammatory pathways that urge bronchial constriction,
          and bronchial hyper-responsiveness due to hyperactivity to respiratory
          and food allergens.
        </p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
      alt="first-image"
      class="footerlogo15"
    />
    <div class="footer-container15">
      <div class="foot15"><p>High Abundance Negative Impact</p></div>

      <div class="foot15"><p>Average Abundance Negative Impact</p></div>

      <div class="foot15"><p>Low Abundance Negative Impact</p></div>

      <div class="foot15"><p>Low Abundance Positive Impact</p></div>

      <div class="foot15"><p>Average Abundance Positive Impact</p></div>

      <div class="foot15"><p>High Abundance Positive Impact</p></div>
    </div>
    <div class="foot-num15"><h1>15</h1></div>
  </body>
</html>
