<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-21</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
      src="D:\Office\flask0\static\assets\logo.PNG"
      alt="first-image"
      class="left-logo21"
    />
    <img
      src="D:\Office\flask0\static\assets\logo-7.png"
      alt="first-image"
      class="right-logo21"
    />
    <div class="container21">
      <h1>Nutrient Synthesis</h1>
      <hr />
    </div>
    <div class="middle21">
      <div class="mid1">
        <h1>VITAMIN D</h1>
        <p>BACTERIA THAT ENABLE BIOAVAILABILITY OF VITAMIN D</p>
      </div>

      <div class="mid2">
        <h1>PROTEIN METABOLISM</h1>
        <p>BACTERIA FACILITATING PROTEIN ABSORPTION</p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\middlelogo21.png"
      alt="first-image"
      class="middlegraph21"
    />

    <div class="footer-paragraph-18">
      <div class="footpara21-1">
        <p>
          Synthesis of Vit D occurs in cells in the mucosal lining of the colon
          and lung, (& in bone tissue, skin epithelium, and parathyroid glands).
          The action of Vitamin D in modulating the gut’s microbial composition
          plays a relevant role in maintaining immune system function and,
          consequently, your health.
        </p>
      </div>
      <div class="footpara21-2">
        <p>
          The gut microbiota performs an important role in facilitating the
          course of protein/amino acid digestion and absorption. This makes the
          nutrients easily absorbable by your body and subsequently changes the
          metabolic mechanisms of your cells.
        </p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
      alt="first-image"
      class="footerlogo21"
    />
    <div class="footer-container21">
      <div class="foot21"><p>High Abundance Negative Impact</p></div>

      <div class="foot21"><p>Average Abundance Negative Impact</p></div>

      <div class="foot21"><p>Low Abundance Negative Impact</p></div>

      <div class="foot21"><p>Low Abundance Positive Impact</p></div>

      <div class="foot21"><p>Average Abundance Positive Impact</p></div>

      <div class="foot21"><p>High Abundance Positive Impact</p></div>
    </div>
    <div class="foot-num21"><h1>21</h1></div>
  </body>
</html>
