<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page-8</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  <body>
    <div class="container8">
      <h1>Digestive Health Indicators</h1>


      <img
      src="D:\Office\flask0\static\assets\logo.png"
      alt="first-image"
      class="rlogo8"
    />
    <img
    src="D:\Office\flask0\static\assets\logo-7.png"
    alt="first-image"
    class="img8"
  />
    <h4> crohns, uc</h4>
    </div>

    <hr />

    <div class="info-container8">
      <div class="info-box8">
        <h1>CROHN'S</h1>
        <p>BACTERIA ABETTING TISSUE INFLAMMATION IN DIGESTIVE TRACT</p>
        <img
        src="D:\Office\flask0\static\assets\page8-logo.png"
        alt="first-image"
        class="logo8"
      />

      </div>

      <div class="info-box colitis8">
        <h1>ULCERATIVE COLITIS</h1>
        <p>IMPACT OF BACTERIA ON INFLAMMATION IN COLON AND RECTUM</p>
      </div>

    </div>

    <div class="paragraph-container8">
      <div class="paragraph88">
        <p>
            Crohn's often can distinguished from other similar conditions by the reduced diversity and increased instability of the gut. Certain specific compositions of bacteria bring better diagnosis along with existing systems to enable improved outcomes.
        </p>
      </div>

      <div class="paragraph8">
        <p>
            In the case of intestinal inflammation, treatment has mainly been focused on pain relief. Knowing the bacterial composition can drive sharpened diagnosis and categorisation of severity.
        </p>
      </div>


    </div>
    <div class="footer-container8">
        <div class="footer8"><p>High Abundance Negative Impact</p></div>
        <div class="footer8"><p>Average Abundance Negative Impact</p></div>
        <div class="footer8"><p>Low Abundance Negative Impact</p></div>
        <div class="footer8"><p>Low Abundance Positive Impact</p></div>
        <div class="footer8"><p>Average Abundance Positive Impact</p></div>
        <div class="footer8"><p>High Abundance Positive Impact</p></div>
      </div>

    </div>


    <img
    src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
    alt="first-image"
    class="image8"
  />
  <div class="page-num8">
    <h1>7</h1>
</div>
  </body>
</html>
