<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-9</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
      src="D:\Office\flask0\static\assets\logo.PNG"
      alt="first-image"
      class="iom9"
    />

    <div class="container9">
      <img
        src="D:\Office\flask0\static\assets\logo9.png"
        alt="first-image"
        class="logo9"
      />
      <h1>Digestion Indicators//Bacterial Signals</h1>
      <hr />
      <p>WHICH BACTERIA ARE IMPACTING YOUR GUT</p>
    </div>
    <div class="paragraph9">
      <p>
        Your gut health depends on digestion, the process of turning food into
        usable nutrients for the body. This is enabled hugely by the bacteria in
        your gut. The movement of food through the body and out is evoked by the
        bacterial breakdown of carbohydrates, fibers, and protein. In the course
        of this process, the bacteria also produce a host of chemicals
        (metabolites) and gases. Sometimes, an imbalance causes excessive or
        inhibited production of gases, and chemicals or results in inefficient
        use of nutrients produced or slowed evacuation.
      </p>
    </div>
    <div class="footer9">
      <p>Here are the bacteria impacting your digestion:</p>
      <img
        src="D:\Office\flask0\static\assets\graph9.png"
        alt="first-image"
        class="graph9"
      />
      <h1>8</h1>
    </div>
  </body>
</html>
