<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-14</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container14">

        <img
        src="D:\Office\flask0\static\assets\logo.PNG"
        alt="first-image"
        class="cont-top-left14"
      />

      <h1>Heart Indicators//Bacterial Signals</h1>
      <img
      src="D:\Office\flask0\static\assets\logo9.png"
      alt="first-image"
      class="headlogo14"
    />
      <hr />
      <p>WHICH BACTERIA ARE IMPACTING YOUR HEART</p>
    </div>
    <div class="middle14">

      </p>
        The human gut microbiome has been identified as an indicator of
        cardiovascular health and disease. An aberrant bacterial composition is
        becoming increasingly crucial for understanding inflammation-induced
        metabolic syndromes from diabetes to obesity to cardiovascular
        challenges. The dietary impact of unhealthy foods induces the bacteria
        to produce/process metabolites like choline, L-carnitine or TMAO urging
        the heart towards further un-fitness. In contrast, healthy production of
        SCFAs (acetate, propionate, butyrate) by the bacteria enables the
        maintenance of the gut barrier, modulates heart risk factors, and
        regulates glucose and lipid balance.
      </p>
    </div>
    <div class="footer14">
        <p>Here are the bacteria impacting your Heart Health:</p>
        <img
        src="D:\Office\flask0\static\assets\graph14.png"
        alt="first-image"
        class="middlegraph14"
      />
    </div>
    <div class="footernum14"><h1>14</h1></div>

  </body>
</html>
