<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-23</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
      src="D:\Office\flask0\static\assets\logo.PNG"
      alt="first-image"
      class="left-logo23"
    />
    <img
      src="D:\Office\flask0\static\assets\logo-7.png"
      alt="first-image"
      class="right-logo23"
    />
    <div class="container23">
      <h1>Healthy Aging</h1>
      <p>
        FORMS OF AGING,AND AGE-RELATED CONDITIONS ARE IMPACTED BY YOUR BACTERIA
      </p>
      <hr />
    </div>
    <div class="middle23">
      <div class="mid1">
        <h1>BACTERIAL AGE MARKERS</h1>
        <p>BACTERIA THAT ARE PRESENT IN YOUNGER MICROBIOMES</p>
      </div>

      <div class="mid2">
        <h1>MUSCLE ATROPHY</h1>
        <p>BACTERIA THAT REDUCE LOSS OF MUSCLE WITH AGE</p>
      </div>

      <div class="mid3">
        <h1>NEURODEGENERATIVE DISEASES</h1>
        <p>BACTERIA PREVENTING AGE-LINKED BRAIN CONDITIONS</p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\middlelogo23.png"
      alt="first-image"
      class="middlegraph23"
    />

    <div class="footer-paragraph-23">
      <div class="footpara23-1">
        <p>
          Over the course of our lives, several bacteria tend to decrease in
          their abundance. These bacteria act as markers of younger gut ages.
          The presence of these good bacteria are also linked with other
          age-associated conditions.
        </p>
      </div>
      <div class="footpara23-2">
        <p>
          Gut bacteria modulate the availability of amino acids to the host,
          controlling muscular synthesis. There are also microbes which when
          reduced are linked with increased age-associated loss of muscles.
        </p>
      </div>
      <div class="footpara23-3">
        <p>
          Different bacteria are known to be possibly linked to alzheimer’s and
          parkinsons in people. This happens by many mechanisms through the
          gut-brain axis.
        </p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
      alt="first-image"
      class="footerlogo23"
    />
    <div class="footer-container23">
      <div class="foot23"><p>High Abundance Negative Impact</p></div>

      <div class="foot23"><p>Average Abundance Negative Impact</p></div>

      <div class="foot23"><p>Low Abundance Negative Impact</p></div>

      <div class="foot23"><p>Low Abundance Positive Impact</p></div>

      <div class="foot23"><p>Average Abundance Positive Impact</p></div>

      <div class="foot23"><p>High Abundance Positive Impact</p></div>
    </div>
    <div class="foot-num23"><h1>23</h1></div>
  </body>
</html>
