<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-13</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container13">
      <img
        src="D:\Office\flask0\static\assets\logo-7.png"
        alt="first-image"
        class="cont-top-right13"
      />
      <img
        src="D:\Office\flask0\static\assets\logo.PNG"
        alt="first-image"
        class="cont-top-left13"
      />
      <h1>Heart Indicators</h1>
      <hr />
    </div>

    <div class="middle13">
      <h1>CARDIOVASCULAR HEALTH</h1>
      <p>BACTERIA CONTRIBUTING TO UNHEALTHY HEART CONDITIONS</p>
      <img
        src="D:\Office\flask0\static\assets\middlelogo13.png"
        alt="first-image"
        class="middleimg13"
      />
    </div>
    <div class="footer13">
      <p>
        Microbiome characteristics have been identified with cardiovascular
        health. This is seen with increased circulating levels of the diet- and
        microbiota-dependent metabolites trimethylamine-N-oxide (TMAO)
        associated with atherosclerosis.
      </p>
      <div class="footer-container13">
        <div class="foot13"><p>High Abundance Negative Impact</p></div>

        <div class="foot13"><p>Average Abundance Negative Impact</p></div>

        <div class="foot13"><p>Low Abundance Negative Impact</p></div>

        <div class="foot13"><p>Low Abundance Positive Impact</p></div>

        <div class="foot13"><p>Average Abundance Positive Impact</p></div>

        <div class="foot13"><p>High Abundance Positive Impact</p></div>
      </div>
      <img
        src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
        alt="first-image"
        class="footerlogo13"
      />
    </div>
    <div class="num-13"><h1>13</h1></div>
  </body>
</html>
