<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-28</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
    src="D:\Office\flask0\static\assets\logo-left-half.png"
    alt="first-image"
    class="first-image28"
  />
    <div class="message-box28">
      <h1>What's Next</h1>
      <p>
        You have embarked on a journey of self-discovery. Team Iom hopes that
        Gut360 guides you on the path to better health and a healthier You.
      </p>
      <p>
        You may schedule a conversation with your counsellor, at a time and date
        of your convenience, here. The counsellor will be happy to answer any
        questions you may have. You may also share your feedback, if any.
      </p>
      <p>
        We recommend getting another INTOIT profile done at the end of 2 months
        to measure the change in your body.
      </p>
      <p>Cheers!<br />Team Iom</p>
      <div class="table28">

        <table>
          <tr>
            <td class="label">Name</td>
            <td class="value">XXX</td>
          </tr>
          <tr>
            <td class="label">Iom Id</td>
            <td class="value">YYY</td>
          </tr>
          <tr>
            <td class="label">Report Date</td>
            <td class="value">DD/MM/YYYY</td>
          </tr>
        </table>

    </div>
    <div class="footer-para28"><p>For more information about bacteria or Iom, please write to us at better@iombio.com. You may reach us at....</p>
    </div>
    <div class="logo28">
      <img class="logo28" src="D:\Office\flask0\static\assets\footerlogo28.png" alt="Facebook Logo">
  </div>
  </body>
</html>
