<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-17</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
      src="D:\Office\flask0\static\assets\logo.PNG"
      alt="first-image"
      class="iom9"
    />

    <div class="container9">
      <img
        src="D:\Office\flask0\static\assets\logo9.png"
        alt="first-image"
        class="logo19"
      />
      <h1>Nutrient Indicators//Bacterial Signals</h1>
      <hr />
      <p>WHICH BACTERIA ARE IMPACTING YOUR VITAMINS & PROTEINS</p>
    </div>
    <div class="paragraph9">
      <p>
        The functional roles of micronutrients like vitamins or proteins are
        diverse from immune functions to neurotransmitter synthesis to energy
        production and more. While gut bacteria require certain vitamins or
        proteins for their growth, several bacteria also produce these vital
        minerals, easily absorbable by our bodies. The microorganisms are also
        able to synthesise vitamins in their free form or active form.
        Deficiencies of these minerals can impair normal cellular metabolism or
        urge the development of chronic diseases. So these nutrients are not
        just vital for your health but also for the bacteria in the gut.
      </p>
    </div>
    <div class="footer22">
      <p>Here are the bacteria impacting your nutrients:</p>
      <img
        src="D:\Office\flask0\static\assets\graph22.png"
        alt="first-image"
        class="graph9"
      />
      <h1>22</h1>
    </div>
  </body>
</html>
