<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-11</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
      src="D:\Office\flask0\static\assets\logo.PNG"
      alt="first-image"
      class="iom9"
    />

    <div class="container9">
      <img
        src="D:\Office\flask0\static\assets\logo9.png"
        alt="first-image"
        class="logo9"
      />
      <h1>Metabolism Indicators//Bacterial Signals</h1>
      <hr />
      <p>WHICH BACTERIA ARE IMPACTING YOUR GUT</p>
    </div>
    <div class="paragraph9">
      <p>
        The gut microbiome is possibly a mediator between metabolism, weight and
        health outcomes. Multiple studies have shown that increased weight loss
        is associated with increased statistically significant diversity of the
        microbiome. Obesity, systemic inflammation, and insulin resistance are
        associated with lower microbiota diversity and higher intestinal
        permeability. The microbes influence and steer energy metabolism by
        regulating glucose metabolism, appetite and fat storage. The microbiome
        influences both sides of the energy equation-extraction of energy on one
        side and storage and expenditure of energy on the other. When energy
        intake consistently exceeds energy expenditure, this excess fat storage
        can lead to obesity and associated health problems.
      </p>
    </div>
    <div class="footer11">
      <p>Here are the bacteria impacting your metabolism:</p>
      <img
        src="D:\Office\flask0\static\assets\middleGraph11logo.png"
        alt="first-image"
        class="graph9"
      />
      <h1>10</h1>
    </div>
  </body>
</html>
