<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-17</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
      src="D:\Office\flask0\static\assets\logo.PNG"
      alt="first-image"
      class="iom9"
    />

    <div class="container9">
      <img
        src="D:\Office\flask0\static\assets\logo9.png"
        alt="first-image"
        class="logo19"
      />
      <h1>Emotional Health Indicators//Bacterial Signals</h1>
      <hr />
      <p>WHICH BACTERIA ARE IMPACTING YOUR EMOTIONAL WELL-BEING</p>
    </div>
    <div class="paragraph9">
      <p>
        Millenniums of co-existing with bacteria have given rise to a wonderful
        lively dialogue between them and us. Prolonged psychological pressure
        and stress can induce the bacteria to produce neurohormones that alter
        our mood and behaviour. The reshaping of the gut composition can lead to
        heightened inflammation and a cyclical situation that feeds itself.
        Consequently, this can trigger a bloom in pathogens, a leaky gut or
        results in a variety of metabolic upheavals.
      </p>
    </div>
    <div class="footer19">
      <p>Here are the bacteria impacting your Mental Health:</p>
      <img
        src="D:\Office\flask0\static\assets\graph19.png"
        alt="first-image"
        class="graph9"
      />
      <h1>19</h1>
    </div>
  </body>
</html>
