<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-24</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
      src="D:\Office\flask0\static\assets\logo.PNG"
      alt="first-image"
      class="left-logo24"
    />
    <img
      src="D:\Office\flask0\static\assets\logo-7.png"
      alt="first-image"
      class="right-logo24"
    />
    <div class="container24">
      <h1>Healthy Aging</h1>

      <hr />
    </div>
    <div class="middle24">
      <div class="mid1">
        <h1>BONE AGING</h1>
        <p>BACTERIA THAT REDUCE BONE DENSITY</p>
      </div>

      <div class="mid2">
        <h1>AGE-LINKED EYE DEGRADATION</h1>
        <p>BACTERIA THATCAUSE AGE-RELATED MACULAR DEGRADATION</p>
      </div>

      <div class="mid3">
        <h1>CHRONIC KIDNEY DISEASE</h1>
        <p>BACTERIA THAT HELP THE HOST MANAGE BLOOD PRESSURE</p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\middleGraph24.png"
      alt="first-image"
      class="middlegraph24"
    />

    <div class="footer-paragraph-24">
      <div class="footpara24-1">
        <p>
          Bacteria in the gut microbiome are involved in the regulation of
          hormones and metabolites which are known to play a role in bone health
          such as Vitamin D, and in the absorption of minerals like Calcium and
          Magnesium. This leads to certain bacteria being associated with the
          mineral density of bones and conditions like osteoporosis.
        </p>
      </div>
      <div class="footpara24-2">
        <p>
          Gut bacteria play a role in maintaining levels of proteins in the
          body, through both metabolism and by immune regulation. Dysbiosis of
          the gut microbiome may lead to buildup of harmful proteins in the
          macula of eyes with age. Which in turn may cause damage to it.
        </p>
      </div>
      <div class="footpara24-3">
        <p>
          Short chain fatty acids and other metabolites produced by the gut
          bacteria can interact with receptors in the host to regulate their
          blood pressure. Controlling these bacteria can help control
          hypertension with age.
        </p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
      alt="first-image"
      class="footerlogo24"
    />
    <div class="footer-container24">
      <div class="foot24"><p>High Abundance Negative Impact</p></div>

      <div class="foot24"><p>Average Abundance Negative Impact</p></div>

      <div class="foot24"><p>Low Abundance Negative Impact</p></div>

      <div class="foot24"><p>Low Abundance Positive Impact</p></div>

      <div class="foot24"><p>Average Abundance Positive Impact</p></div>

      <div class="foot24"><p>High Abundance Positive Impact</p></div>
    </div>
    <div class="foot-num24"><h1>24</h1></div>
  </body>
</html>
