<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-18</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <img
      src="D:\Office\flask0\static\assets\logo.PNG"
      alt="first-image"
      class="left-logo18"
    />
    <img
      src="D:\Office\flask0\static\assets\logo-7.png"
      alt="first-image"
      class="right-logo18"
    />
    <div class="container18">
      <h1>Emotional Health Indicators</h1>
      <p>IMPORTANT EMOTIONAL CONDITIONS IMPACTED BY YOUR BACTERIA</p>
      <hr />
    </div>
    <div class="middle18">
      <div class="mid1">
        <h1>DEPRESSION</h1>
        <p>BACTERIAL ROLE IN NEURORANSMITTERS PRODUCTION</p>
      </div>

      <div class="mid2">
        <h1>ANXIETY</h1>
        <p>BACTERIA ENABLING/ALLEVIATING GIT-BRAIN AXIS</p>
      </div>

      <div class="mid3">
        <h1>STRESS</h1>
        <p>BACTERIA THAT TAKE PART IN SIGNALLING TO THE BRAIN</p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\middleGraph18.png"
      alt="first-image"
      class="middlegraph18"
    />

    <div class="footer-paragraph-18">
      <div class="footpara18-1">
        <p>
          Depression, a persistent feeling of sadness and a loss of interest in
          life can be overwhelming. Research shows that those battling mood
          challenges have a distinct microbiome with an increased leaning
          towards inflammation and bowel issues
        </p>
      </div>
      <div class="footpara18-2">
        <p>
          The gut microbiome runs a two-way communication with your brain. These
          signals can often be over-read or misrecognised. Alternatively,
          regulating the gut can improve gut-brain communication and alleviate
          anxiety.
        </p>
      </div>
      <div class="footpara18-3">
        <p>
          Stress often promotes the consumption of irregular food while sending
          distress signals to the gut. This ends up defining which bacteria
          thrive. In turn, the bacteria release metabolites or chemicals that
          further push up stress and trigger inflammation and autonomic changes.
        </p>
      </div>
    </div>
    <img
      src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
      alt="first-image"
      class="footerlogo18"
    />
    <div class="footer-container18">
      <div class="foot18"><p>High Abundance Negative Impact</p></div>

      <div class="foot18"><p>Average Abundance Negative Impact</p></div>

      <div class="foot18"><p>Low Abundance Negative Impact</p></div>

      <div class="foot18"><p>Low Abundance Positive Impact</p></div>

      <div class="foot18"><p>Average Abundance Positive Impact</p></div>

      <div class="foot18"><p>High Abundance Positive Impact</p></div>
    </div>
    <div class="foot-num18"><h1>18</h1></div>
  </body>
</html>
