<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page-6</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="main-container6">
      <h1>Gut Diversity</h1>
      <p>THE NUMBER IN BACTERIAL TYPE IN</p>
      <p>YOU</p>
    </div>
    <hr />

    <div class="gut-info6">
      <h4>YOUR GUT DIVERSITY IS : <span class="green-text">VERY GOOD</span></h4>
      <div class="info-box6">
        <p>
          Gut Diversity is the foremost indicator of your gut health. It is the
          variety of genera of bacteria in your gut. A higher variety of genera
          is linked with better health and immunity.
        </p>
      </div>
    </div>

    <img
      src="D:\Office\flask0\static\assets\logo.jpg"
      alt="first-image"
      class="first-image6"
    />

    <div class="comparison-info6">
      <p>
        Your gut is compared to those who are closest to you in age, gender, and
        lifestyle.
      </p>
    </div>

    <!-- Add the second image -->
    <img
      src="D:\Office\flask0\static\assets\graph-logo.jpg"
      alt="second-image"
      class="second-image6"
    />

    <div class="higher-diversity-info6">
      <p>GUT Diversity is higher than people most like you*</p>
    </div>

    <div class="num-info6">
      <h1>5</h1>
    </div>
  </body>
</html>
