<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-12</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container12">
      <img
        src="D:\Office\flask0\static\assets\logo-7.png"
        alt="first-image"
        class="cont-top-right12"
      />
      <img
        src="D:\Office\flask0\static\assets\logo.PNG"
        alt="first-image"
        class="cont-top-left12"
      />
      <h1>Heart Indicators</h1>
      <p>IMPORTANT HEART CONDITIONS IMPACTED BY YOUR BACTERIA</p>
    </div>

    <div class="middleimg12">
      <hr />
      <div class="middleimg12">
        <img
          src="D:\Office\flask0\static\assets\middleGraph12.png"
          alt="first-image"
          class=""
        />
      </div>
      <div class="middle12">
        <div class="mid1">
          <h4>HEART HEATTH INDEX 1</h4>
          <h1>CHOLESTEROL-LDH,TC</h1>
          <p>BACTERIA ALTERING THE BLOOD LIPID COMPOSITION</p>
        </div>

        <div class="mid2">
          <h4>HEART HEALTH INDEX 2</h4>
          <h1>CHOLESTEROL-LDH</h1>
          <p>BACTERIAL INVOLVED IN AFFECTING GOOD CHOLESTEROL</p>
        </div>

        <div class="mid3">
          <h4>HEART HEALTH INDEX 3</h4>
          <h1>BLOODPRESURE</h1>
          <p>BACTERIA INVOLVED IN AFFECTING BLOOD PRESSURE</p>
        </div>
      </div>
      <div class="info-container12">
        <div class="p1">
          <p>
            The gut and its inhabitants gut play a crucial role in cholesterol
            balance and absorption. The bacteria have the capability to impact
            blood lipid composition through the production of bile acids,
            coprostanol, SCFAs and TMAO thus influencing heart condition.
          </p>
        </div>
        <div class="p2">
          <p>
            HDL or good cholesterol absorbs cholesterol in the blood and carries
            it back to the liver to flush out. Signalling molecules produced by
            the bacteria impact this reverse cholesterol transport, a vital
            protective function.
          </p>
        </div>
        <div class="p3">
          <p>
            Microbiota-derived metabolites are either beneficial like SCFA or
            detrimental like TMAO and can activate several downstream signalling
            pathways. The dysbiosis-associated breakdown of the gut barrier can
            trigger elevated blood pressure mechanisms.
          </p>
        </div>
      </div>
      <div class="footer-container12">
        <div class="footer12"><p>High Abundance Negative Impact</p></div>

        <div class="footer12"><p>Average Abundance Negative Impact</p></div>

        <div class="footer12"><p>Low Abundance Negative Impact</p></div>

        <div class="footer12"><p>Low Abundance Positive Impact</p></div>

        <div class="footer12"><p>Average Abundance Positive Impact</p></div>

        <div class="footer12"><p>High Abundance Positive Impact</p></div>
      </div>
      <div class="footer-img12">
        <img
          src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
          alt="first-image"
          class="img10"
        />
        <h1>11</h1>
      </div>
    </div>
  </body>
</html>
