<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page-16</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container16">
      <img
        src="D:\Office\flask0\static\assets\logo-7.png"
        alt="first-image"
        class="cont-top-right16"
      />
      <img
        src="D:\Office\flask0\static\assets\logo.PNG"
        alt="first-image"
        class="cont-top-left16"
      />
      <h1>Respiratory Indicators</h1>
      <hr />
    </div>

    <div class="middle16">
      <h1>ASTHMA</h1>
      <p>ROLE THAT MICROBIOME PLAYS IN AIRWAY CONSTRICTION</p>
      <img
        src="D:\Office\flask0\static\assets\middlelogo16.png"
        alt="first-image"
        class="middleimg16"
      />
    </div>
    <div class="footer16">
      <p>
        Asthma is complicated. And may have origins in individual
        susceptibility, infections, allergens, smoke and pollutant exposure. It
        is becoming evident that bacterial imbalance and decreased levels of
        acetate and metabolites aggravate asthma by impacting airway
        inflammation through antimicrobial peptides.
      </p>
      <div class="footer-container16">
        <div class="foot16"><p>High Abundance Negative Impact</p></div>

        <div class="foot16"><p>Average Abundance Negative Impact</p></div>

        <div class="foot16"><p>Low Abundance Negative Impact</p></div>

        <div class="foot16"><p>Low Abundance Positive Impact</p></div>

        <div class="foot16"><p>Average Abundance Positive Impact</p></div>

        <div class="foot16"><p>High Abundance Positive Impact</p></div>
      </div>
      <img
        src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
        alt="first-image"
        class="footerlogo16"
      />
    </div>
    <div class="num-16"><h1>16</h1></div>
  </body>
</html>
