<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page-7</title>
    <link rel="stylesheet" href="D:\Office\flask0\static\styles.css" />
    /><style>
      @import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

      body {
        font-family: "PT Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container7">
      <h1>Digestive Health Indicators</h1>
      <img
      src="D:\Office\flask0\static\assets\logo.jpg"
      alt="first-image"
      class="logo"
    />
      <img
      src="D:\Office\flask0\static\assets\logo-7.png"
      alt="first-image"
      class="rlogo"
    />
    </div>
    <hr />

    <div class="info-container7">
      <div class="info-box7">
        <h1>BLOATING/FLATULENCE</h1>
        <p>BACTERIA ADDING TO BUILD UP OF GAS</p>


      </div>

      <div class="info-box7">
        <h1>DIARRHOEA</h1>
        <p>BACTERIA CAUSING LOOSE STOOLS AND HIGH MOBILITY</p>

      </div>

      <div class="info-box7">
        <h1>CONSTIPATION</h1>
        <p>YOUR BACTERIAL IMPACT ON COLONIC MOTILITY</p>
      </div>
    </div>

    <div class="paragraph-container7">
      <div class="paragraph7">
        <p>
          Intestinal gas production can be a source of embarrassment. Hydrogen,
          carbon dioxide and methane are produced directly or indirectly during
          carbohydrate fermentation by the bacteria in your gut.
        </p>
      </div>

      <div class="paragraph7">
        <p>
          Diarrhoea disrupts the gut microbiome and reduces diversity. As also,
          diarrhoea, induced by the bacteria can cause imbalance and
          subsequently impact health and nutrition.
        </p>
      </div>

      <div class="paragraph7">
        <p>
          The bacteria influence the ease and motor functions of your bowels in
          your gut. Concentrations of certain bacteria, especially
          methane-producing bacteria, increase and slow colonic transit time.
        </p>
      </div>
    </div>
    <div class="footer-container7">
        <div class="footer7"><p>High Abundance Negative Impact</p></div>
        <div class="footer7"><p>Average Abundance Negative Impact</p></div>
        <div class="footer7"><p>Low Abundance Negative Impact</p></div>
        <div class="footer7"><p>Low Abundance Positive Impact</p></div>
        <div class="footer7"><p>Average Abundance Positive Impact</p></div>
        <div class="footer7"><p>High Abundance Positive Impact</p></div>
      </div>

    </div>


    <img
      src="D:\Office\flask0\static\assets\circle-logo-7.png"
      alt="first-image"
      class="image7"
    />
    <img
    src="D:\Office\flask0\static\assets\bootom-circle-logo-7.png"
    alt="first-image"
    class="clogo7"
  />
  <div class="page-num7">
    <h1>6</h1>
</div>


  </body>
</html>
